/* Mobile */
@media screen and (min-width: 360px) {
}

/* Macbook Air y Laptops */
@media screen and (min-width: 1440px) {
  /* Contenedor General */
  #ContenedorGeneral_CardTask {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: .8rem;
    margin-top: 1.5rem;
  }

  /* Contenedor Card Individual  */
  #ContenedorIndividual_CardTask {
    border: 1px solid #101010;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 4px;
  }

  /* Items de la card - (Nombre,tipo,fecha,estado)  */
  .ItemTask_CardTask {
    font-size: var(--size--principal);
    font-weight: 300;
    width: 25%;
    text-align: center;
  }
}
