/* Estilos Form Task */

/* Query para Android - 360px */
@media screen and (min-width: 360px) {
  #Contenedor-General_FormTask {
    /* border: 4px solid slateblue; */
    margin-top: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /* Contenedor del Input Text - (Name Task) */
  #ContendorInputText_FT {
    width: 100%;
  }

  /* Propiedades del Input */
  #Name-Task-Input_IFT {
    width: 100%;
    height: 3rem;
    padding: 5px;
    border: 1px solid gainsboro;
    border-radius: 8px;
    font-size: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
  }

  /* Contenedor Select - (Auto o Casa) */
  #ContenedorSelect_FT {
    display: flex;
    height: 3rem;
    gap: 8px;
    margin-top: 0.5rem;
  }

  /* Propiedades del Select - (Casa o Auto) */
  .ItemSelect_FT {
    width: 50%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }

  /* Propiedades del Button - Create */
  #ButtonCreate-MUI_IDFT {
    width: 55%;
    margin-top: 1rem;
    background-color: forestgreen;
    color: white;
    align-self: center;
    height: 2.8rem;
  }

  /* Propieades de la Class que Selecciona */
  .ItemSelected {
    background-color: black;
    border: 2px solid gray;
    color: white;
    transition: 0.5s ease;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(199, 199, 199, 0.85);
    -moz-box-shadow: 0px 0px 5px 1px rgba(199, 199, 199, 0.85);
    box-shadow: 0px 0px 5px 1px rgba(199, 199, 199, 0.85);
  }
}
