/* Query para Android - 360px */
@media screen and (min-width: 360px) {
  /* Contenedor del Input Date */
  #Contenedot-TextArea_IDFT {
    border: 2px solid coral;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  /* Propiedades del Input Date */
  #InputDate_IDFT{
    border: 2px solid red;
    margin: 1rem 0;
    height: 3rem;
    padding: 5px;
    border-radius: 8px;
    width: 100%;
  }

  /* Propiedades del Button Create - MUI */
  #ButtonCreate-MUI_IDFT{
    margin-top: 1rem;
  }
}
