/* Query Para android - 360px */
@media screen and (min-width: 360px) {
  /* Contenedor del Icono */
  #ContenedorOpenCloseIcon {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }

  /* Propiedades del Icono */
  #CloseIcon_OCI {
    height: 2.5rem;
    width: 2.5rem;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 5px;
    transition: transform 1s ease-in-out;
  }
}
