/* Android - 360px */
@media screen and (min-width: 360px) {
  /* Contenedor General del TaskBox */
  #Contenedor-General_TaskBox {
    min-height: 10rem;
    margin-top: 1.3rem;
    display: flex;
    flex-direction: column;
  }

  /* Section - 1 */
  /* Hidden in Mobile */
  #Contenedor-1_TaskBox {
    /*     border: 2px solid red; */
    display: none;
  }

  /* Section - 2  */
  #Contenedor-2_TaskBox {
    /* border: 2px solid seagreen; */
  }

  /* Contenedor de CADA - TaskFox */
  .TaskContenedor_TaskBox {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    margin: 0.3rem 0;
    padding: 0.6rem;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Name Task */
  #Name_TaskBox {
    font-weight: 400;
    font-size: 16px;
    color: white;
  }

  /* Type Task */
  #Type_TaskBox {
    color: gray;
    font-weight: 300;
  }

  /* Date Task */
  #Date_TaskBox {
    color: rgb(163 230 53);
    font-weight: 300;
    font-size: 15px;
  }
}

/* Macbook Air - Laptop - (1440px) */
@media screen and (min-width: 1440px) {
  /* Contenedor General */
  #Contenedor-General_TaskBox {
    /* border: 3px solid greenyellow; */
    display: flex;
    flex-direction: row;
    height: 65vh;
    padding: 1rem;
  }

  /* Section - 1 */
  #Contenedor-1_TaskBox {
    border: 2px solid red;
    display: block;
    width: 55%;
    height: 100%;
    border-radius: 10px;
  }

  /* Section - 2  */
  #Contenedor-2_TaskBox {
    border: 1px solid gainsboro;
    width: 45%;
    overflow-y: scroll;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    gap: 0.5rem;
  }

  /* Contenedor de CADA - TaskFox */
  .TaskContenedor_TaskBox {
    width: 100%;
    margin: 0;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  #Titulo-TaskManagement__TaskBox {
    /* border: 2px solid blue; */
    font-size: 2.8rem;
    text-align: center;
    position: relative;
  }

  #Titulo-TaskManagement__TaskBox::before {
    content: "";
    display: block;
    width: 10%; /* Ajusta el ancho según tus necesidades */
    height: 3.5px; /* Ajusta el grosor del subrayado */
    background-color: rgb(19, 185, 19); /* Color del subrayado */
    position: absolute;
    bottom: -5px; /* Ajusta la posición vertical */
    left: 50%;
    transform: translateX(-50%);
  }
}
