/* Font Principal -- Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --color--principal: white;
  --font-principal: "Quicksand", sans-serif;
}

/* Media Query de 360px - Android */
@media screen and (min-width: 360px) {
  /* Propiedades del contenedor General de la aplicación */
  #Contenedor-App {
    background-color: var(--color--principal);
    height: 100vh;
    width: 100%;
    padding: 1rem; /* Padding General para la App */
  }
}
